@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&family=DM+Sans:wght@400;600&display=swap');

:root {
  font-family: 'Space Grotesk', 'DM Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  background-color: #0f1013;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0f1013;
}

a {
  color: inherit;
}

button,
input,
select {
  font-family: inherit;
}
